/* Стили для кастомной кнопки */
.md-header .md-button--custom {
    background-color: #4350af;
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    transition: background-color 0.3s ease;
}

/* Стили при наведении курсора */
.md-header .md-button--custom:hover {
    background-color: #05376c;
}
